<form [formGroup]="form">
  <app-input [configs]="generalStyle.label"></app-input>
  <div class="flex">
    <app-input [configs]="generalStyle.textColor"></app-input>
    <app-input [configs]="generalStyle.backgroundColor"></app-input>
  </div>

  <div class="flex">
    <app-select [configs]="generalStyle.borderType"></app-select>
    <app-input [configs]="generalStyle.borderColor"></app-input>
  </div>

  <div class="button">
    <button mat-stroked-button (click)="submit()" [disabled]="!form.valid">
      Apply
    </button>
  </div>
</form>
