<div
  class="custom-checkbox"
  ngDefaultControl
  [ngModel]="value"
  [style.fontSize.px]="configs.fontSize"
  [style.fontWeight]="configs.fontWeight"
  [style.color]="'rgb' + configs.color"
>
  <p class="title center">{{ configs.label }}</p>

  <label *ngFor="let item of configs.items"
    ><input type="checkbox" [value]="item" (change)="onCheckChange($event)" />{{
      item
    }}</label
  >

  <label *ngIf="!configs.items"><input type="checkbox" />option 1</label>
</div>
<span *ngIf="error" class="error-span">{{ error }}</span>
