<div *ngIf="pickedField">
  <form [formGroup]="form">
    <h3 *ngIf="pickedField">
      {{ pickedField.type + " " + pickedField.key }}
      <!-- temp -->
    </h3>

    <div class="flex" *ngIf="hasPlaceholder(); else withPlaceholder">
      <app-input
        [configs]="generalStyle.label"
        [formControl]="form.controls['label']"
      ></app-input>

      <app-input
        [configs]="generalStyle.placeholder"
        [formControl]="form.controls['placeholder']"
      ></app-input>
    </div>

    <ng-template #withPlaceholder>
      <app-input
        [configs]="generalStyle.label"
        [formControl]="form.controls['label']"
      ></app-input>
    </ng-template>

    <div class="flex" *ngIf="!hasOptions()">
      <app-input
        [configs]="generalStyle.width"
        [formControl]="form.controls['width']"
      ></app-input>
      <app-input
        [configs]="generalStyle.height"
        [formControl]="form.controls['height']"
      ></app-input>
    </div>

    <div class="flex">
      <app-input
        [configs]="generalStyle.fontSize"
        [formControl]="form.controls['fontSize']"
      ></app-input>

      <app-select
        [configs]="generalStyle.fontWeight"
        [formControl]="form.controls['fontWeight']"
      ></app-select>
    </div>

    <div class="flex">
      <app-input
        [configs]="generalStyle.color"
        [formControl]="form.controls['color']"
      ></app-input>
      <app-select
        [configs]="generalStyle.borderStyle"
        [formControl]="form.controls['borderStyle']"
        *ngIf="pickedField.type !== FIELDS.Checkbox"
      ></app-select>
    </div>

    <div class="custom-checkbox">
      <label
        ><input
          type="checkbox"
          [formControl]="form.controls['isRequired']"
        />Required field</label
      >
    </div>

    <div class="flex flex-btn">
      <app-custom-button
        [buttonText]="'Apply'"
        (click)="submit()"
        [disabled]="!form.valid"
      ></app-custom-button>
      <app-custom-button
        [buttonText]="'Delete'"
        (click)="deleteField(pickedField.key)"
      ></app-custom-button>
    </div>
  </form>

  <div *ngIf="hasOptions()">
    <div class="flex">
      <app-input
        [configs]="generalStyle.inputSelect"
        [(ngModel)]="option"
      ></app-input>
      <app-custom-button
        [buttonText]="'Add'"
        (click)="addOption()"
      ></app-custom-button>
    </div>
    <p *ngFor="let option of form.value.items; let i = index">
      {{ option }}
    </p>
  </div>
</div>

<p *ngIf="!pickedField">Please choose field</p>
