<div *ngIf="form?.get('label')">
  <form [formGroup]="form">
    <h3 *ngIf="pickedField">
      {{ pickedField.type + " " + pickedField.index }}
      <!-- temp -->
    </h3>
    <app-input
      [configs]="generalStyle.label"
      formControlName="label"
    ></app-input>

    <div class="flex">
      <app-input
        [configs]="generalStyle.width"
        formControlName="width"
      ></app-input>
      <app-input
        [configs]="generalStyle.height"
        formControlName="height"
      ></app-input>
    </div>

    <div class="flex">
      <app-input
        [configs]="generalStyle.fontSize"
        formControlName="fontSize"
      ></app-input>

      <app-select
        [configs]="generalStyle.fontWeight"
        formControlName="fontWeight"
      ></app-select>
    </div>

    <div class="flex">
      <app-input
        [configs]="generalStyle.color"
        formControlName="color"
      ></app-input>
      <app-select
        [configs]="generalStyle.borderType"
        formControlName="borderType"
      ></app-select>
    </div>

    <div class="custom-checkbox">
      <label><input type="checkbox" />Required field</label>
    </div>

    <div class="flex flex-btn">
      <app-custom-button
        [buttonText]="'Apply'"
        (click)="submit()"
        [disabled]="!form.valid"
      ></app-custom-button>
      <app-custom-button [buttonText]="'Delete'"></app-custom-button>
    </div>
  </form>

  <div *ngIf="hasOptions()">
    <div class="flex">
      <app-input
        [configs]="generalStyle.inputSelect"
        [(ngModel)]="option"
      ></app-input>
      <app-custom-button
        [buttonText]="'Add'"
        (click)="addOption()"
      ></app-custom-button>
    </div>
    <p *ngFor="let option of form.value.items; let i = index">
      {{ option }}
    </p>
  </div>
</div>
