<div class="section">
  <h3 class="center title">Form Label</h3>
  <div
    class="form-fields"
    cdkDropList
    [cdkDropListData]="fieldsList"
    (cdkDropListDropped)="onDrop($event)"
    #items
  >
    <div
      class="field"
      *ngFor="let field of fieldsInfoArr; let i = index"
      [ngSwitch]="field.type"
      (click)="pickField(field)"
    >
      <app-custom-input *ngSwitchCase="FIELDS.Input" [configs]="field.style"></app-custom-input>
      <app-custom-textarea
        *ngSwitchCase="FIELDS.Textarea"
      ></app-custom-textarea>
      <app-custom-select *ngSwitchCase="FIELDS.Select"></app-custom-select>
      <app-custom-button
        [width]="'50%'"
        *ngSwitchCase="FIELDS.Button"
      ></app-custom-button>
      <app-custom-checkbox
        *ngSwitchCase="FIELDS.Checkbox"
      ></app-custom-checkbox>
    </div>
  </div>
</div>

<app-custom-button
  [width]="'50%'"
  [buttonText]="'Save form'"
  (click)="saveForm()"
></app-custom-button>
