<div class="section">
  <h3 class="center">Form Label</h3>

  <div
    class="form-fields"
    cdkDropList
    [cdkDropListData]="fieldsList"
    (cdkDropListDropped)="onDrop($event)"
  >
    <div
      class="field"
      *ngFor="let field of fieldsList; let i = index"
      [ngSwitch]="field"
      cdkDrag
    >
      <app-input *ngSwitchCase="FIELDS.Input"></app-input>
      <app-textarea *ngSwitchCase="FIELDS.Textarea"></app-textarea>
      <app-select *ngSwitchCase="FIELDS.Select"></app-select>
      <app-button *ngSwitchCase="FIELDS.Button"></app-button>
      <app-checkbox *ngSwitchCase="FIELDS.Checkbox"></app-checkbox>
    </div>
  </div>
</div>
