.mat-expansion-panel-spacing {
  margin: 0;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

.mat-expansion-panel-header-description {
  display: flex;
  justify-content: flex-end;

  opacity: 0.5;
}
